@charset "UTF-8";

@import url("./node_modules/tufte-css/tufte.css");
@import url("./node_modules/@fontsource/noto-music/music.css");

:root {
  /* https://oklch.com/ */
  --light-gray: oklch(70% 0.03 076deg);
  --bright-red: oklch(66% 0.22 030deg);
  --bright-grn: oklch(65% 0.14 113deg);
  --bright-ylw: oklch(83% 0.16 083deg);
  --bright-blu: oklch(58% 0.07 200deg);
  --bright-prp: oklch(71% 0.10 002deg);
  --bright-aqu: oklch(76% 0.11 138deg);
  --bright-org: oklch(70% 0.20 069deg);
  --bright-red-for-dark: oklch(70% 0.25 032deg);
  --bright-grn-for-dark: oklch(70% 0.20 128deg);
  --bright-blu-for-dark: oklch(70% 0.20 224deg);

  --staff-line-height: 14px;
  --staff-height: calc(var(--staff-line-height) * 4);

  @media (max-width: 575px) {
    --num-cols: 2;

    .bar {
      &:nth-child(2n-1) {
        .staff {
          border-inline-start-style: solid;
        }
      }
    }
  }

  --num-cols: 4;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 100%;
  /* use rem units everywhere now */

  body {
    margin-block: unset;
    width: auto;
    padding-inline: 4vw;

    @media (prefers-color-scheme: light) {
      background-color: rgb(255 255 243);
      color: #111;
    }

    @media (prefers-color-scheme: dark) {
      background-color: #151515;
      color: #fffdf3;
    }

    #rainbow-banner {
      height: 2px;
      display: flex;
      margin-block: 8px;

      &>* {
        height: 100%;

        &.aug {
          background-color: var(--bright-ylw);
        }
        &.dim {
          background-color: var(--bright-prp);
        }
        &.dom {
          background-color: var(--bright-red);

          @media (prefers-color-scheme: dark) {
            background-color: var(--bright-red-for-dark);
          }
        }
        &.maj {
          background-color: var(--bright-grn);

          @media (prefers-color-scheme: dark) {
            background-color: var(--bright-grn-for-dark);
          }
        }
        &.min {
          background-color: var(--bright-blu);

          @media (prefers-color-scheme: dark) {
            background-color: var(--bright-blu-for-dark);
          }
        }
        &.no-chord {
          background-color: inherit;
        }
        &.pow {
          background-color: var(--light-gray);
        }
        &.sus {
          background-color: var(--bright-org);
        }
      }
    }

    h1, h2, h3, h4, h5 {
      margin: unset;
    }

    .title {
      font-size: min(3.2rem, 8vw);
    }

    .artist {
      font-size: 1.5rem;
    }

    .date:empty, .artist:empty {
      display: none;
    }

    .key-selector {
      display: flex;
      min-width: 100px;
      align-items: center;
      justify-content: flex-end;

      .transpose-buttons {
        display: flex;
        flex-direction: column;
        margin-inline-start: 4px;
      }

      .key {
        text-align: right;
        min-width: 80px;
      }
    }

    button.transpose {
      width: 24px;
      font-size: 12px;
    }
  }
}

#transposed-steps {
  min-width: 25px;
  text-align: center;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#settings {
  cursor: default;
}

#settings[open] {
  display: flex;
  text-align: end;
}

#metadata {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;

  .date, .artist, .album {
    font-weight: 400;
  }

  .album {
    font-style: italic;
  }

  .date:empty, .artist:empty, .album:empty {
    display: none;
  }

  .artist:not(:empty) {
    &:has(+ .album:not(:empty)) {
      &::after {
        content: " —";
      }
    }
  }

  .title {
    font-size: min(3.2rem, 8vw);
  }

  .byline {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;

    & .album:not(:empty) {
      margin-inline-start: 5px;
    }

    & .date:not(:empty) {
      margin-inline-start: 5px;

      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }
}

#song {
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  align-items: end;
  row-gap: calc(var(--staff-height) * 0.5);

  .bar {
    /* container-type: size; */
    /* container-name: bar; */

    &:nth-child(4n-3) {
      .staff {
        border-inline-start-style: solid;
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .staff {
      --high-g-top: -114cqh;
      --high-f-top: calc(var(--high-g-top) + calc(var(--staff-line-height) / 2));

      container-type: size;
      container-name: staff;
      display: flex;
      justify-content: space-between;
      font-family: "Noto Music";
      height: var(--staff-height);
      border-block-end: none;
      border-top: solid;
      border-top-width: 1px;

      @media (prefers-color-scheme: light) {
        border-color: #111;
        background: repeating-linear-gradient(to top,
            #151515,
            #151515 1px,
            transparent 0,
            transparent 25%);
      }

      @media (prefers-color-scheme: dark) {
        border-color: #fffdf3;
        background: repeating-linear-gradient(to top,
            #fffdf3,
            #fffdf3 1px,
            transparent 0,
            transparent 25%);
      }

      .frontmatter {
        display: flex;
        margin-inline-end: 10cqh;
        font-family: "Noto Music";

        .clef {
          position: relative;
          top: -31cqh;
          font-size: 96cqh;
        }

        .key-signature {
          display: flex;
          letter-spacing: -4cqh;

          .accidental {
            position: relative;
            font-size: 80cqh;

            &.f {
              top: calc(var(--high-f-top) + calc(var(--staff-line-height) * 0));
            }

            &.c {
              top: calc(var(--high-g-top) + calc(var(--staff-line-height) * 2));
            }

            &.g.sharp {
              top: calc(var(--high-g-top) + calc(var(--staff-line-height) * 0));
            }

            &.g.flat {
              top: calc(var(--high-f-top) + calc(var(--staff-line-height) * 3));
            }

            &.d {
              top: calc(var(--high-f-top) + calc(var(--staff-line-height) * 1));
            }

            &.a {
              top: calc(var(--high-g-top) + calc(var(--staff-line-height) * 3));
            }

            &.e {
              top: calc(var(--high-g-top) + calc(var(--staff-line-height) * 1));
            }

            &.b {
              top: calc(var(--high-f-top) + calc(var(--staff-line-height) * 2));
            }
          }
        }

        .time-signature {
          position: relative;
          top: -12cqh;
          margin-inline-start: 18cqh;
          font-size: 71cqh;
          line-height: 51cqh;
          font-weight: bold;
        }
      }

      .content {
        width: 100%;
        display: flex;
      }

      & .barline-single-close {
        border-right-style: solid;
        border-right-width: 1.5px;
      }

      & .barline-double-open {
        font-size: 100cqh;
        &::after {
          position: relative;
          top: -40cqh;
          right: -6cqh;
          content: "𝄁";
        }
      }

      & .barline-double-close {
        font-size: 100cqh;
        &::after {
          position: relative;
          top: -40cqh;
          right: -6cqh;
          content: "𝄂";
        }
      }

      & .barline-repeat-close {
        font-size: 100cqh;
        &::after {
          position: relative;
          top: -40cqh;
          right: -6cqh;
          content: "𝄇";
        }
      }

      & .barline-repeat-open {
        font-size: 100cqh;
        &::after {
          position: relative;
          top: -40cqh;
          left: -6cqh;
          content: "𝄆";
        }
      }
    }

    &.active {
      .staff {
        animation-name: pulse;
        animation-duration: 1500ms;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    .section-name {
      z-index: -1;
      position: relative;
      display: inline-block;
      width: fit-content;
      padding-inline: 0.5rem;
      font-size: 1.5rem;
      font-style: italic;
      border-style: solid;
      border-width: 1px;

      @media (prefers-color-scheme: light) {
        border-color: #111;
      }

      @media (prefers-color-scheme: dark) {
        border-color: #fffdf3;
      }
    }

    .chords {
      container-name: chords;
      container-type: size;
      height: calc(var(--staff-height) * 0.5);
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-evenly;

      .chord {
        /* --fullsize: 9.25cqw; */
        --fullsize: clamp(24px, 9.25cqw, 11rem);
        --shrink-factor: 0;

        display: inline-flex;
        flex-direction: row;
        white-space: nowrap;
        /* this prevents long chord names from breaking into multiple lines */
        font-size: clamp(24px, var(--fullsize), 11rem);
        text-align: center;
        justify-content: center;

        .unicode-flat, .unicode-sharp {
          position: relative;
          font-size: 7cqw;
          left: -5px;
          bottom: 0;
          margin-right: -8px;
        }

        /* &.small {
          &.sibling-count-1 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 0)));
          }
          &.sibling-count-2 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 0)));
          }
          &.sibling-count-3 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 1)));
          }
        } */

        &.medium {
          --shrink-factor: 0.1;

          &.sibling-count-1 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 0)));
          }
          &.sibling-count-2 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 1)));
          }
          &.sibling-count-3 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 2)));
          }
        }

        &.large {
          --shrink-factor: 0.125;

          /* &.sibling-count-1 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 0)));
          } */
          &.sibling-count-2 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 1)));
          }
          &.sibling-count-3 {
            font-size: calc(var(--fullsize) - calc(var(--fullsize) * calc(var(--shrink-factor) * 2)));
          }
        }

        .fractional, .paren-open, .paren-close {
          font-weight: normal;
        }

        .fractional {
          align-items: center;
          display: flex;
          flex-direction: column;
          font-size: 58cqh;
          line-height: 45cqh;
          position: relative;
          top: 15cqh;
        }

        &.aug {
          color: var(--bright-ylw);
        }
        &.dim {
          color: var(--bright-prp);
        }
        &.dom {
          color: var(--bright-red);

          @media (prefers-color-scheme: dark) {
            color: var(--bright-red-for-dark);
          }
        }
        &.maj {
          color: var(--bright-grn);

          @media (prefers-color-scheme: dark) {
            color: var(--bright-grn-for-dark);
          }
        }
        &.min {
          color: var(--bright-blu);

          @media (prefers-color-scheme: dark) {
            color: var(--bright-blu-for-dark);
          }
        }
        &.no-chord {
          color: inherit;
        }
        &.pow {
          color: var(--light-gray);
        }
        &.sus {
          color: var(--bright-org);
        }
      }
    }

    /* bump up the chords in the first bar out of the way of the key signature */
    .chords:nth-child(1):has(~ .staff .key-signature .e.flat) {
      margin-bottom: 12px;
    }
    .chords:nth-child(1):has(~ .staff .key-signature .d.flat) {
      margin-bottom: 10px;
    }
    .chords:nth-child(1):has(~ .staff .key-signature .f.sharp) {
      margin-bottom: 15px;
    }
    .chords:nth-child(1):has(~ .staff .key-signature .g.sharp) {
      margin-bottom: 22px;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;

  #fine {
    font-family: "Noto Music";
    font-size: 3rem;
  }
}

@keyframes pulse {
  0% {
    box-shadow: #007cff80 0 0 0 0;
  }
  75% {
    box-shadow: #ff69b400 0 0 0 16px;
  }
}
