@charset "UTF-8";

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.hidden {
  visibility: hidden;
}
