@charset "UTF-8";

:root{
    --light-gray-4:    #a89984;

    --neutral-red:    #cc241d;
    --neutral-green:  #98971a;
    --neutral-yellow: #d79921;
    --neutral-blue:   #458588;
    --neutral-purple: #b16286;
    --neutral-aqua:   #689d6a;
    --neutral-orange: #d65d0e;

    --faded-red:    #9d0006;
    --faded-green:  #79740e;
    --faded-yellow: #b57614;
    --faded-blue:   #076678;
    --faded-purple: #8f3f71;
    --faded-aqua:   #427b58;
    --faded-orange: #af3a03;

    --bright-red:    #fb4934;
    --bright-green:  #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue:   #83a598;
    --bright-purple: #d3869b;
    --bright-aqua:   #8ec07c;
    --bright-orange: #fe8019;

    --staff-line-height: 14.75px;
}

html {
    font-size: 100%; /* use rem units everywhere now */
}

body {
    background-color: rgb(255, 255, 243);
    color: #111;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
        color: #FFFDF3;
    }
}

body {
    width: auto;
    padding-left: 32px;
    padding-right: 32px;
}

h1, h2, h3, h4, h5 {
    margin:  unset;
}

.date:empty, .artist:empty {
    display: none;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#settings[open] {
    display: flex;
    text-align: end;
}

#metadata {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.key-selector {
    align-items: center;
    display: flex;
    min-width: 100px;
    justify-content: flex-end;
}

.key-selector .key {
    text-align: right;
    min-width: 64px;
}

.key-selector .transpose-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 4px
}

button.transpose {
    width: 24px;
    font-size: 12px;
}

#song {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 32px;
    column-gap: 1px;
}

.clef {
    position: relative;
    top: -50%;
    left: -5.3%;
    line-height: 100%;
    font-size: 8.25em;
}

.time-signature {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    line-height: 66.666%;
    font-weight: bold;
}

.key-signature {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    line-height: 35px;
}

.key-signature .accidental {
    position: relative;
}

.key-signature .accidental.Bb {
    top: -21px;
    left: -40px;
}
.key-signature .accidental.Eb {
    top: -13px;
    left: -25px;
}
.key-signature .accidental.Ab {
    top: -50px;
    left: -10px;
}
.key-signature .accidental.Db {
    top: -13px;
    left: 5px;
}
.key-signature .accidental.Gb {
    top: -13px;
    left: 20px;
}
.key-signature .accidental.Cb {
    top: -13px;
    left: 35px;
}

.bar {
    display: flex;
    flex-direction: column;
}

.staff {
    height: calc(var(--staff-line-height) * 4.1);
    background: repeating-linear-gradient(
        0deg,
        #151515,
        #151515 1px,
        transparent 1px,
        transparent var(
    --staff-line-height)
    );
    border-color: #111;
    border-style: solid;
    border-width: 1.5px;
    border-bottom: none;
    border-top: none;
}

@media (prefers-color-scheme: dark) {
    .staff {
        border-color: #FFFDF3;
        background: repeating-linear-gradient(
            0deg,
            #FFFDF3,
            #FFFDF3 1px,
            transparent 1px,
            transparent var(--staff-line-height)
        );
    }
}

.bar .chords {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0 10px 0 10px;
    margin-bottom: 6px;
}

.bar .chords .chord {
    min-height: 26px;
    font-size: 20pt;
    text-align: center;
    flex-basis: 0;
}

#transposed-steps {
    min-width: 25px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.chord.dom {
    color: var(--neutral-red);
}

.chord.maj {
    color: var(--bright-green);
}

.chord.min {
    color: var(--bright-blue);
}

.chord.sus {
    color: var(--bright-orange);
}

.chord.aug {
    color: var(--bright-yellow);
}

.chord.dim {
    color: var(--bright-purple);
}

.chord.pow {
    color: var(--light-gray-4);
}

.chord.no-chord {
    color: inherit;
}
